.grid {
    column-count: 4;
    grid-gap: 0px;
    max-width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    grid-template-rows: masonry;
    align-tracks: stretch;
  }
  
.masonry-item {
    margin: 0;
    padding: 0;
}

.masonry-content{
    max-height: 100%;
    max-width: 100%;
}