.header {
    background: transparent;
}

.header nav {
    display: flex;
}

* {
    box-sizing: border-box;
}
  
.header .column {
  flex: 1;
}

a {
    color: #fff;
}

.header .column .logo-container {
    display: flex;
    height: 100%;
    max-height: 100%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header .column .contact-info-container {
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    color: #fff;
}

.header .column .contact-info-container li {
    list-style: none;
    text-transform: uppercase;
}

.header .column .contact-info-container img {
    max-width: 10vw;
    max-height: 10vh;
    margin-left: 10vw;
}

.header .column .logo-container img {
    max-width: 300px;
    max-height: 800px;
    object-fit: contain;
    object-position: 50% 50%;
}
  
@media only screen and (min-width: 390px) and (max-width: 690px) {
    .header nav {
        display: grid;
    }

    .header .column .logo-container {
        height: 15vh;
        max-height: 15vh;
    }

    .header .column .contact-info-container ul {
        margin-top: 0.5rem;
    }

    .header .column .contact-info-container img {
        max-height: 10vh;
        height: 10vh;
    }

    .header nav .column:nth-child(1) {
        border-bottom: none;
    }

    .header nav .column:nth-child(3) {
        border-top: none;
    }

    .header .column .contact-info-container img {
        max-width: none;
    }
}
  