.footer {
    position: relative;
    display: flex;
    z-index: 9;
    background-color: transparent;
    width: 100%;
}
  
.footer .column {
  flex: 1;
}

.footer .column .video-reel-section {
    display: flex;
}

.icon-container {
    max-width: 100%;
    padding: 1rem 1rem;
    cursor: pointer;
    /* border-right: 2px solid #000; */
}

.footer .column .video-reel-section .icon-container img {
    max-width: 7rem;
}

.footer .column .video-reel-section marquee h1 {
    margin: 0;
    font-size: 4em;
    font-family: var(--body-text);
}

.footer .column .copyright-section {
    display: flex;
    height: 100%;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    color: #fff;

}

.footer .column .copyright-section li {
    list-style: none;
}

@media only screen and (min-width: 390px) and (max-width: 690px) {
    .footer {
        display: block;
        position: absolute;
    }

    .footer .column:nth-child(1), .footer .column:nth-child(3) {
        border-bottom: none;
    }

    .footer .column .copyright-section {
        text-align: center;
        padding: 1rem;
    }
}