@font-face {
    font-family: "BODY";
    src: url("../src/Assets/RobotoMono-Regular.ttf");
}

@font-face {
    font-family: "HEADING";
    src: url("../src/Assets/Nimbus_Sans_Becker_PBla_Regular.otf");
}

:root {
    /*container stuff*/
    --border-thickness: 0px solid #000;
    
    /*font stuff*/
    --heading-text: "HEADING";
    --body-text: "BODY";
    
    --heading-primary-color: #FFFF26;
    --heading-secondary-color: #fff;

    --body-primary-color: #fff;
    --body-secondary-color: #000;
}

body, html {
    padding: 0;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -ms-overflow-style: none;
    scrollbar-width: none;

    /* background-image: radial-gradient(circle, #300350, #6b0458, #9c1f58, #c54455, #e36e50, #eb7054, #f47258, #fc745c, #ee4b72, #cc2f8d, #9230a6, #153cb4);*/
    background-repeat: no-repeat;

    background: rgb(174,60,209);
    background: -moz-linear-gradient(167deg, rgba(174,60,209,1) 0%, rgba(71,47,203,1) 71%);
    background: -webkit-linear-gradient(167deg, rgba(174,60,209,1) 0%, rgba(71,47,203,1) 71%);
    background: linear-gradient(167deg, rgba(174,60,209,1) 0%, rgba(71,47,203,1) 71%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ae3cd1",endColorstr="#472fcb",GradientType=1); 
}


*::-webkit-scrollbar {
    display: none;
}

.column {
    border: var(--border-thickness);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--heading-primary-color);
    font-family: var(--heading-text);
    font-weight: normal;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

p, li {
    color: var(--body-primary-color);
    font-family: var(--body-text);
    text-transform: capitalize;
}

.page .home {
    display: flex;
}

.fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}
